.button {
    width: 150px;
    background-color: #f56767;

}

.disabled:disabled {
    background-color: #4e4d4d;
}

.secondary {
    background-color: #0066cc;
}

.default {
    background-color: green;
}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
